body {
    background-color: #E4E1E1;
}

.panel-custom{
	margin: 20px;
	padding: 10px;
	min-height: 500px;
}

.filter-text{
	padding: 5px;
	width: 50%;
	margin: 20px;
}

.upload-form{
	margin-top: 20px;
	margin-left: 250px;
}