<%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/black-tie/jquery-ui.css", type: "text/css" %>


<div id = "prog"></div>
<div id = "job_id"><%= @job_id %></div>
Total Rows : <div id="total_rows"></div>
Successfuly Parsed: <div id="successful_rows"></div>
Failed: <div id="failed_rows"></div>

<script type="text/javascript">
	startSocket();
</script>

  