<%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/black-tie/jquery-ui.css", type: "text/css" %>
<h1 align="center">
	File Parsing Progress
</h1>
<div class="panel panel-default panel-custom panel-progress">
	<div id = "prog"></div>
	<div id = "connection_est">Establishing Connection....</div>
	<div id = "job_id"><%= @job_id %></div>
	Total Rows : <div id="total_rows"></div>
	Successfuly Parsed: <div id="successful_rows"></div>
	Failed: <div id="failed_rows"></div>
</div>
<script type="text/javascript">
	startSocket();
</script>

  